<footer>
    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>Phone</h4>
            <p>Línea gratuita: 018000420101</p>
        </div>
        <div class="content-foo"> 
            <h4>Email</h4>
            <p>mercadeo.cal@ucc.edu.co</p>
        </div>
        <div class="content-foo">
            <h4>Location</h4>
            <p>Cali, Valle del Cauca</p>
        </div>
    </div>
    <h2 class="titulo-final">&copy; Andrés Felipe Cardenas, Andrés Ortega, Frank Florez, Oscar Florez</h2>
</footer>
