
<nav id="main" class="navbar navbar-expand-lg  navbar-dark bg-primary">    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <!--mx-auto centrar items del navbar-->
        <div class="navbar-nav mx-auto">
            <a class="nav-item nav-link active" routerLink="/paginaprincipal">Inicio </a>
            <a class="nav-item nav-link active" routerLink="/quienessomos">Quiénes Somos</a>
            <a class="nav-item nav-link active" routerLink="/capitalhumano">Capital Humano</a>
            <a class="nav-item nav-link active" routerLink="/capitalrelacional">Capital Relacional</a>
            <a class="nav-item nav-link active" routerLink="/sectores">Información Sectores</a>
            <a class="nav-item nav-link active" routerLink="/registro">Registrar Funcionario</a>
            <a class="nav-item nav-link active" routerLink="/login">Cerrar Sesión</a>
        </div>
    </div>
  </nav>

  <div class="alert alert-dark" role="alert">
    <section class="textos-header">
        <h1>Universidad cooperativa de colombia </h1>
        <h2>Lo mejor para tu bienestar</h2>
    </section>
  </div>
    