
<!--NAVBAR-->
<app-navbar></app-navbar> 

  
<div class="container" id="fondo-form">

  <br>
  

  <form  id="form-registro" (ngSubmit)="agregar()">
    
    <div class="container">
      <br/>
      <h5>Stakeholder:</h5>
      <div class="row">
        <div class=" col-md-6 form-group" >
          <label >Sector</label>
          <input type="text" class="form-control" name="id" id="sector" [(ngModel)]="item.sector"> 
        </div>
      </div>

    

    <div class="row">
        <div class=" col-md-6">
            <label >SubSector</label>
        <input type="text" class="form-control" name="id" id="subsector" [(ngModel)]="item.subsector">  
          </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            
            <label >Nombre empresa</label>
            <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.nom_empresa">  
          </div>
        </div>
    </div>
    <br>
    <div class="container">
      <br/>
        <h5>Datos de Contacto:</h5>
        <div class="row">
                <div class="col-md-6">
                    <label  >Nombre Completo</label>                    
                    <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.nom_completo">
                  </div>

                  <div class="col-md-6">
                    <label  >Número de Contacto</label>
                    <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.num_contacto">
                  </div>
            </div>
              <div class="row">
              <div class="col-md-6">
                  <label  >Correo</label>
                  <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.correo">
              </div>
            </div>
            <br/>
            <h5>Tipo De Acuerdo</h5> 
            <div class="row">
                <div class="col-md-6">
                <label  >Estado Convenio</label>
                <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.estado_convenio">
              </div>
              <div class="col-md-6">
                <label  >Investigación De Red</label>
                <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.inv_red">
              </div>
            </div>
            <div class="row">
                <div class=" col-md-6">
                  <label  >Proyección Social</label>
                  <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.proyec_social">
                </div>
                <div class=" col-md-6">
                  <label  >Financiamiento</label>
                  <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.financiamiento">
                </div>
              </div>
            <div class="row">
              <div class=" col-md-6">
                <label  >Práctica empresarial</label>
                <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.prec_empresarial">
              </div>
              <div class=" col-md-6">
                <label  >Plan De Medios</label>
                <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.plan_medios">
              </div>
            </div>
              <div class="row">
                <div class=" col-md-6">
                    <label  >Visibilidad</label>
                    <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.visibilidad">
                </div>
            </div>
            <br/>
            <h5>Movilidad</h5>
            <div class="row">
                <div class="col-md-6">
                <label  >Estudiante</label>
                <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.estudiante">
              </div>
              <div class="col-md-6">
                <label  >Estado</label>
                <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.estado">
              </div>
            </div>
                 
            <div class="row">
              <div class=" col-md-6">
                <label  >Profesor</label>
                <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.profesor">
              </div>
            </div>     
            <br/>
            <h5>Objetivo de la relación</h5>
            <div class="row">
              <div class=" col-md-6">
                <label  >Objetivo</label>
                <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.objetivo">
              </div>
            </div>

            <br/>
            <h5>Estrategia De Interés</h5> 
            <div class="row">
                <div class="col-md-6">
                <label  >Director Sede</label>
                <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.director_sede">
              </div>
              <div class="col-md-6">
                <label  >SubDirector Académico</label>
                <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.sub_director_academico">
              </div>
            </div>
            <div class="row">
                <div class=" col-md-6">
                  <label  >SubDirector Proyección</label>
                  <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.sub_director_proyec">
                </div>
                <div class=" col-md-6">
                  <label  >Fcaec</label>
                  <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.fcaec">
                </div>
              </div>
            <div class="row">
              <div class=" col-md-6">
                <label  >Facultad De Psicología</label>
                <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.facultad_psi">
              </div>
              <div class=" col-md-6">
                <label  >Facultad De Ingeriería</label>
                <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.facultad_ing">
              </div>
            </div>
              <div class="row">
                <div class=" col-md-6">
                    <label  >Facultad De Derecho</label>
                    <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.facultad_derecho">
                </div>
                <div class=" col-md-6">
                    <label  >Bienestar Universitario</label>
                    <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.bienestar_uni">
                  </div>
            </div>
            <div class="row">
                <div class=" col-md-6">
                    <label  >Proyección Social</label>
                    <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.proyect_social">
                </div>
                <div class=" col-md-6">
                    <label >Extensión</label>
                    <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.extension">
                  </div>
            </div>
            <div class="row">
                <div class=" col-md-6">
                    <label >Comunicación</label>
                    <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.comunicacion">
                </div>
                <div class=" col-md-6">
                    <label >Biblioteca</label>
                    <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.biblioteca">
                  </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label >Egresa</label>
                    <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.egresa">
                </div>
                <div class="col-md-6">
                    <label >Mercad</label>
                    <input type="text" class="form-control" name="id" id="empresa" [(ngModel)]="item.mercad">
                  </div>
            </div>
        </div>

        <br>


        <div class="text-center">

          <button type="submit" class="btn btn-primary"  >
            Registrar
          </button>     

        </div>

    <br>
  </form>
  
</div>

<br>



<!--FOOTER-->
<app-footer></app-footer>
