
<!--NAVBAR-->
<app-navbar></app-navbar> 

  
<div class="container" id="fondo-form">

  <br>
  

  <form  id="form-registro" (ngSubmit)="agregar()">
    
    <div class="container">
      <br/>
      <h5>Stakeholder:</h5>
      <div class="row">
        <div class=" col-md-6 form-group" >
          <label >Sector</label>
          <input type="text" class="form-control" name="sector" id="sector" [(ngModel)]="item.sector"> 
        </div>
      </div>

    

    <div class="row">
        <div class=" col-md-6">
            <label >SubSector</label>
        <input type="text" class="form-control" name="subsector" id="subsector" [(ngModel)]="item.subsector">  
          </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            
            <label >Nombre empresa</label>
            <input type="text" class="form-control" name="empresa" id="empresa" [(ngModel)]="item.nom_empresa">  
          </div>
        </div>
    </div>
    <br>
    <div class="container">
      <br/>
        <h5>Datos de Contacto:</h5>
        <div class="row">
                <div class="col-md-6">
                    <label  >Nombre Completo</label>                    
                    <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="item.nom_completo">
                  </div>

                  <div class="col-md-6">
                    <label  >Número de Contacto</label>
                    <input type="text" class="form-control" name="num_contacto" id="num_contacto" [(ngModel)]="item.num_contacto">
                  </div>
            </div>
              <div class="row">
              <div class="col-md-6">
                  <label  >Correo</label>
                  <input type="text" class="form-control" name="correo" id="correo" [(ngModel)]="item.correo">
              </div>
            </div>
            <br/>
            <h5>Tipo De Acuerdo</h5> 
            <div class="row">
                <div class="col-md-6">
                <label  >Estado Convenio</label>
                <input type="text" class="form-control" name="estado_convenio" id="estado_convenio" [(ngModel)]="item.estado_convenio">
              </div>
              <div class="col-md-6">
                <label  >Investigación De Red</label>
                <input type="text" class="form-control" name="inv_red" id="inv_red" [(ngModel)]="item.inv_red">
              </div>
            </div>
            <div class="row">
                <div class=" col-md-6">
                  <label  >Proyección Social</label>
                  <input type="text" class="form-control" name="proyec_social" id="proyec_social" [(ngModel)]="item.proyec_social">
                </div>
                <div class=" col-md-6">
                  <label  >Financiamiento</label>
                  <input type="text" class="form-control" name="financiamiento" id="financiamiento" [(ngModel)]="item.financiamiento">
                </div>
              </div>
            <div class="row">
              <div class=" col-md-6">
                <label  >Práctica empresarial</label>
                <input type="text" class="form-control" name="prec_empresarial" id="prec_empresarial" [(ngModel)]="item.prec_empresarial">
              </div>
              <div class=" col-md-6">
                <label  >Plan De Medios</label>
                <input type="text" class="form-control" name="plan_medios" id="plan_medios" [(ngModel)]="item.plan_medios">
              </div>
            </div>
              <div class="row">
                <div class=" col-md-6">
                    <label  >Visibilidad</label>
                    <input type="text" class="form-control" name="visibilidad" id="visibilidad" [(ngModel)]="item.visibilidad">
                </div>
            </div>
            <br/>
            <h5>Movilidad</h5>
            <div class="row">
                <div class="col-md-6">
                <label  >Estudiante</label>
                <input type="text" class="form-control" name="estudiante" id="estudiante" [(ngModel)]="item.estudiante">
              </div>
              <div class="col-md-6">
                <label  >Estado</label>
                <input type="text" class="form-control" name="estado" id="estado" [(ngModel)]="item.estado">
              </div>
            </div>
                 
            <div class="row">
              <div class=" col-md-6">
                <label  >Profesor</label>
                <input type="text" class="form-control" name="profesor" id="profesor" [(ngModel)]="item.profesor">
              </div>
            </div>     
            <br/>
            <h5>Objetivo de la relación</h5>
            <div class="row">
              <div class=" col-md-6">
                <label  >Objetivo</label>
                <input type="text" class="form-control" name="objetivo" id="objetivo" [(ngModel)]="item.objetivo">
              </div>
            </div>

            <br/>
            <h5>Estrategia De Interés</h5> 
            <div class="row">
                <div class="col-md-6">
                <label  >Director Sede</label>
                <input type="text" class="form-control" name="director_sede" id="director_sede" [(ngModel)]="item.director_sede">
              </div>
              <div class="col-md-6">
                <label  >SubDirector Académico</label>
                <input type="text" class="form-control" name="sub_director_academico" id="sub_director_academico" [(ngModel)]="item.sub_director_academico">
              </div>
            </div>
            <div class="row">
                <div class=" col-md-6">
                  <label  >SubDirector Proyección</label>
                  <input type="text" class="form-control" name="sub_director_proyec" id="sub_director_proyec" [(ngModel)]="item.sub_director_proyec">
                </div>
                <div class=" col-md-6">
                  <label  >Fcaec</label>
                  <input type="text" class="form-control" name="fcaec" id="fcaec" [(ngModel)]="item.fcaec">
                </div>
              </div>
            <div class="row">
              <div class=" col-md-6">
                <label  >Facultad De Psicología</label>
                <input type="text" class="form-control" name="facultad_psi" id="facultad_psi" [(ngModel)]="item.facultad_psi">
              </div>
              <div class=" col-md-6">
                <label  >Facultad De Ingeriería</label>
                <input type="text" class="form-control" name="facultad_ing" id="facultad_ing" [(ngModel)]="item.facultad_ing">
              </div>
            </div>
              <div class="row">
                <div class=" col-md-6">
                    <label  >Facultad De Derecho</label>
                    <input type="text" class="form-control" name="facultad_derecho" id="facultad_derecho" [(ngModel)]="item.facultad_derecho">
                </div>
                <div class=" col-md-6">
                    <label  >Bienestar Universitario</label>
                    <input type="text" class="form-control" name="bienestar_uni" id="bienestar_uni" [(ngModel)]="item.bienestar_uni">
                  </div>
            </div>
            <div class="row">
                <div class=" col-md-6">
                    <label  >Proyección Social</label>
                    <input type="text" class="form-control" name="proyect_social" id="proyect_social" [(ngModel)]="item.proyect_social">
                </div>
                <div class=" col-md-6">
                    <label >Extensión</label>
                    <input type="text" class="form-control" name="extension" id="extension" [(ngModel)]="item.extension">
                  </div>
            </div>
            <div class="row">
                <div class=" col-md-6">
                    <label >Comunicación</label>
                    <input type="text" class="form-control" name="comunicacion" id="comunicacion" [(ngModel)]="item.comunicacion">
                </div>
                <div class=" col-md-6">
                    <label >Biblioteca</label>
                    <input type="text" class="form-control" name="biblioteca" id="biblioteca" [(ngModel)]="item.biblioteca">
                  </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label >Egresa</label>
                    <input type="text" class="form-control" name="egresa" id="egresa" [(ngModel)]="item.egresa">
                </div>
                <div class="col-md-6">
                    <label >Mercad</label>
                    <input type="text" class="form-control" name="mercad" id="mercad" [(ngModel)]="item.mercad">
                  </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                  <label >Cronograma</label>
                  <input type="text" class="form-control" name="cronograma" id="cronograma" [(ngModel)]="item.cronograma">
              </div>

              <div class="col-md-6">
                  <label >Seguimiento</label>
                  <input type="text" class="form-control" name="seguimiento" id="seguimiento" [(ngModel)]="item.seguimiento">
                </div>
          </div>
        </div>

        <br>
        <!-- Button Registro -->

        <div class="text-center">

          <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Registrar
          </button>

        </div>               

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registro completado correctamente</h5>                
              </div>        
            </div>
          </div>
        </div>

    <br>
  </form>
  
</div>

<br>



<!--FOOTER-->
<app-footer></app-footer>
