
<!--NAVBAR-->
<app-navbar></app-navbar> 
  
<div class="container" id="fondo-form">

  <br>
  

  <form  id="form-registro">
    
    <div class="container">
      <br/>
      <h5>Stakeholder:</h5>
        <div class="row">
      <div class=" col-md-6">
        <label  >Sector</label>
        <input type="email" class="form-control "  >
      </div>
    </div>

    

    <div class="row">
        <div class=" col-md-6">
            <label  >SubSector</label>
            <input type="email" class="form-control"  >
          </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <label  >Nombre de empresa</label>
            <input type="email" class="form-control "  >
          </div>
        </div>
    </div>
    <br>
    <div class="container">
      <br/>
        <h5>Datos de Contacto:</h5>
        <div class="row">
                <div class="col-md-6">
                    <label  >Nombre Completo</label>
                    <input type="email" class="form-control "  >
                  </div>

                  <div class="col-md-6">
                    <label  >Número de Contacto</label>
                    <input type="email" class="form-control "  >
                  </div>
            </div>
              <div class="row">
                <div class="col-md-6">
                    <label  >Correo</label>
                    <input type="email" class="form-control "  >
                  </div>
            </div>
            <br/>
            <h5>Tipo De Acuerdo</h5> 
            <div class="row">
                <div class="col-md-6">
                <label  >Estado Convenio</label>
                <input type="email" class="form-control "  >
              </div>
              <div class="col-md-6">
                <label  >Investigación De Red</label>
                    <input type="email" class="form-control "  >
              </div>
            </div>
            <div class="row">
                <div class=" col-md-6">
                  <label  >Proyección Social</label>
                  <input type="email" class="form-control"  >
                </div>
                <div class=" col-md-6">
                  <label  >Financiamiento</label>
                      <input type="email" class="form-control "  >
                </div>
              </div>
            <div class="row">
              <div class=" col-md-6">
                <label  >Práctica empresarial</label>
                    <input type="email" class="form-control "  >
              </div>
              <div class=" col-md-6">
                <label  >Plan De Medios</label>
                    <input type="email" class="form-control "  >
              </div>
            </div>
              <div class="row">
                <div class=" col-md-6">
                    <label  >Visibilidad</label>
                    <input type="email" class="form-control "  >
                </div>
            </div>
            <br/>
            <h5>Movilidad</h5>
            <div class="row">
                <div class="col-md-6">
                <label  >Estudiante</label>
                <input type="email" class="form-control "  >
              </div>
              <div class="col-md-6">
                <label  >Estado</label>
                <input type="email" class="form-control "  >
              </div>
            </div>
                 
            <div class="row">
              <div class=" col-md-6">
                <label  >Profesor</label>
                <input type="email" class="form-control "  >
              </div>
            </div>     
            <br/>
            <h5>Objetivo de la relación</h5>
            <div class="row">
              <div class=" col-md-6">
                <label  >Objetivo</label>
                <input type="email" class="form-control "  >
              </div>
            </div>

            <br/>
            <h5>Estrategia De Interés</h5> 
            <div class="row">
                <div class="col-md-6">
                <label  >Director Sede</label>
                <input type="email" class="form-control "  >
              </div>
              <div class="col-md-6">
                <label  >SubDirector Académico</label>
                    <input type="email" class="form-control "  >
              </div>
            </div>
            <div class="row">
                <div class=" col-md-6">
                  <label  >SubDirector Proyección</label>
                  <input type="email" class="form-control "  >
                </div>
                <div class=" col-md-6">
                  <label  >Fcaec</label>
                      <input type="email" class="form-control "  >
                </div>
              </div>
            <div class="row">
              <div class=" col-md-6">
                <label  >Facultad De Psicología</label>
                    <input type="email" class="form-control "  >
              </div>
              <div class=" col-md-6">
                <label  >Facultad De Ingeriería</label>
                    <input type="email" class="form-control "  >
              </div>
            </div>
              <div class="row">
                <div class=" col-md-6">
                    <label  >Facultad De Derecho</label>
                    <input type="email" class="form-control "  >
                </div>
                <div class=" col-md-6">
                    <label  >Bienestar Universitario</label>
                        <input type="email" class="form-control "  >
                  </div>
            </div>
            <div class="row">
                <div class=" col-md-6">
                    <label  >Proyección Social</label>
                    <input type="email" class="form-control "  >
                </div>
                <div class=" col-md-6">
                    <label >Extensión</label>
                        <input type="email" class="form-control" >
                  </div>
            </div>
            <div class="row">
                <div class=" col-md-6">
                    <label >Comunicación</label>
                    <input type="email" class="form-control " >
                </div>
                <div class=" col-md-6">
                    <label >Biblioteca</label>
                        <input type="email" class="form-control" >
                  </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label >Egresa</label>
                    <input type="email" class="form-control ">
                </div>
                <div class="col-md-6">
                    <label >Mercad</label>
                        <input type="email" class="form-control ">
                  </div>
            </div>
        </div>
        <br>
  </form>

</div>

<br>


<!--FOOTER-->
<app-footer></app-footer>
