<!--
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: url(../src/assets/img/fondo2.jpg);
    background-size: cover;
    background-attachment: fixed;

}
-->
<div class="login">

    <form class="formulario custom-form" method="post">

        <h1>Login</h1>
    
    
        <div class="contenedor">
        
        
            
            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input type="email"[(ngModel)]="email" name="email" placeholder="Correo Electronico" required="required">
            
            </div>
            
            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required="required">
            
            </div>
            
                <input type="submit" value="Login" class="button">
                <p> <br> Universidad Cooperativa de Colombia</p>
                
                
        </div>
    </form>
        
        

</div>



