<!--
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: url(../src/assets/img/fondo2.jpg);
    background-size: cover;
    background-attachment: fixed;

}
-->

<form class="formulario">

    <h1>Login</h1>


    <div class="contenedor">
    
    
        
        <div class="input-contenedor">
            <i class="fas fa-envelope icon"></i>
            <input type="text" placeholder="Correo Electronico">
        
        </div>
        
        <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
            <input type="password" placeholder="Contraseña">
        
        </div>
        
            <input type="submit" value="Login" class="button">
            <p> <br> Universidad Cooperativa de Colombia</p>
            
            
    </div>
</form>
    
    


