


<!--Container-->


<main>
    <section class="contenedor sobre-nosotros">
    <div class="container">
		<div class="row">
			<div class="col-md-12">
        <div id="centrar"> <h2>Capital Humano</h2></div>
        <br/>
				<p style="text-align:justify"> 
                El presente documento es resultado de una revisión conceptual en asocio a los desafíos de la gestión 
                del capital humano para el siglo XXI; en nuestro país Colombia ha ido reconociendo los avances en el
                 mundo, queriendo, con visión global interconectarse con el mundo económico en el que se desenvuelve. 

Este pensamiento, obliga a nuestro entorno a acondicionarnos según las tendencias administrativas y económicas, las
 cuales son correlaciónales,  una de estas tendencias se estrena en Colombia para este año 2012, con la publicación del 
 Decreto 0884 del 30 de abril de 2012, con el propósito de regular el teletrabajo en Colombia; que ya se estado 
 implementando en otros países.

                
                </p>
                </div>
			</div>
	</div>

    </section>

</main>
<footer>
    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>Phone</h4>
            <p>xxxxxxx</p>
        </div>
        <div class="content-foo">
            <h4>Email</h4>
            <p>xxxxxxx</p>
        </div>
        <div class="content-foo">
            <h4>Location</h4>
            <p>xxxxxxxxxxxxxxx</p>
        </div>
    </div>
    <h2 class="titulo-final ">&copy; Andres felipe cardenas, Andres ortega, Frank florez, Oscar florez</h2>
</footer>