
<div class="login">

    <form class="formulario" method="post">

        <h1>Login</h1> 
    
    
        <div class="contenedor">
        
        
            
            <div class="input-contenedor formGroup">
                <i class="fas fa-envelope icon"></i>
                <input type="email" class="formControl" name="email" placeholder="Correo Electrónico..." #userName required>
            
            </div>
            
            <div class="input-contenedor formGroup">
                <i class="fas fa-key icon"></i>
                <input type="password" class="formControl" name="password" placeholder="Contraseña..." #userPassword required>
            
            </div>
            
            <div class="formGroup">
                <input type="submit" value="Login" (click)="login()" class="button" (click)="authService.SignIn(userName.value, userPassword.value)">
                <p> <br> Universidad Cooperativa de Colombia</p>
            </div>
                
                
            
        </div>
    </form>
        
        

</div>



